body {
  font-family: verdana;
  background: white;
  color: black;
  padding: 0;
  margin: 0;
}

#levels {
    float: left;
    margin-top: 5px;
}

#legend {
    float: right;
    width: 200px;
}

#legend .status {
    font-size: smaller;
    color: #ccc;
}

#legend .status p {
    margin: 0;
}

#nodes {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.chart rect {
    fill: steelblue;
    stroke: white;
}
